* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

h1, h3 {
    font-family: 'Fraunces', sans-serif;
    color: #24053E;
    font-weight: 500;
}

p {
    font-family: 'Manrope', sans-serif;
    color: #584D62;
    font-weight: 100;
}

.purple-bg {
    background-color: #24053E;
    padding-bottom: 80px;
    border-radius: 100%/0 0 30px 30px;
}

nav {
    padding: 32px 16px 0 16px;
    color: #ffffff;
}

nav .flex {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

li img {
    margin-left: 20px;
}

.access-txt {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    border-bottom: 3px solid #44FFA1;
    line-height: 32px;
    margin-right: 20px;
    transition: .5s;
}

.head-section {
    padding: 0px 16px 64px 16px;
    color: white;
}

h1 {
    font-size: 46px;
    padding: 20px;
    text-align: center;
    color: white;
}

h1 span {
    border-bottom: 4px solid #44FFA1;
}



button {
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
    display: block;
    margin: 0 auto;
    padding: 20px 25px;
    background-color: #44FFA1;
    border: none;
    color: #24053E;
    font-weight: bold;
    font-size: 16px;
    transition: .5s;
}

.phone {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #FCF8FF;
}

.phone-img {
    width: 320px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 320px;
}

.card-section {
    padding: 140px 20px 20px 20px;
    text-align: center;
    color: #24053E;
    background-color: #FCF8FF;
    border-radius: 100%/0 0 30px 30px;
}

.card {
    margin: 60px 0;
}

.num {
    font-family: 'Fraunces', sans-serif;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    line-height: 26px;
    border: 1px solid #584D62;
    margin: 0 auto;
}

h3 {
    margin: 20px;
    font-size: 28px;
}

.desc {
    line-height: 28px;
    font-size: 16px;
}

.founder-section h3,.founder-section p {
    color: white;
}

.founder-section img {
    display: block;
    position: relative;
    top: 60px;
    width: 343px;
    margin: 100px auto 0 auto;
    z-index: -1;
}

.founder-section div {
    position: absolute;
    background-color: #24053E;
    text-align: center;
    padding: 32px;
}

.founder-section p {
    line-height: 28px;
    margin: 20px;
}

.founder-section button {
    margin: 24px auto;
}

footer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 40px 0;
    top: 360px;
}

footer img {
    margin: 40px 0;
}

footer div {
    margin: 20px;
}

footer p {
    font-weight: 100;
}

.icons img {
    margin: 0 10px;
}


/* Tablet Layout */
@media (width >= 768px) {
    h1 {
        font-size: 60px;
    }
    .head-section {
        background: 
            url(./assets/images/bg-pattern-3.svg) -70% no-repeat,
            url(./assets/images/bg-pattern-2.svg) 120% 110% no-repeat;
        background-size: 50%, 25%;
    }

    .purple-bg {
        padding-bottom: 140px;
    }

    .phone-img {
        width: 514px;
        top: 380px;
    }

    .card {
        display: flex;
        align-items: center;
    }

    h3, .desc {
        text-align: start;
        margin-right: 90px;
        margin-left: 0;
    }

    .num {
        margin: 30px 30px 0 110px;
    }

    .founder-section {
        margin: 0 auto;
        position: relative;
    }

    .founder-section img {
        width: 265px;
        margin: 0;
        position: absolute;
        left: 40px;
        right: 0;
    }

    .founder-section div {
        position: absolute;
        background: url(./assets/images/bg-pattern-3.svg) 100% 220% no-repeat;
        background-size: 50%;
        background-color: #24053E;
        width: 514px;
        left: 200px;
        top: 200px;
    }

    .founder-section h3 {
        font-size: 48px;
        margin-left: 20px;
    }

    .founder-section p {
        text-align: start;
        margin-left: 36px;
        margin-right: 36px;
    }

    .founder-section button {
        margin: 0;
        margin-left: 36px;
    }

    footer {
        top: 600px;
    }
}

/* Desktop Layout */
@media (width >= 1440px) {
    li {
        cursor: pointer;
    }
    
    .flex li {
        margin-left: 140px;
    }

    .access-txt {
        margin-right: 140px;
    }

    .access-txt:hover {
        color: #44FFA1;
    }

    h1 {
        font-size: 80px;
    }



    button:hover {
        background-color: #24053E;
        color: #44FFA1;

        border: 3px solid #44FFA1;
    }

    a:hover {
        color: #44FFA1;
    }

    .phone-img { 
        width: 767px;
        top: 380px;
        left: 100px;
    }

    .card-section {
        padding-top: 200px;
        display: flex;
        justify-content: center;
    }

    .card {
        flex-direction: column;
    }

    .num {
        margin: 40px 0;
    }

    .card-info {
        width: 354px;
    }

    h3, .desc {
        text-align: center;
    }

    h3 {
        margin: 0;
        margin-bottom: 40px;
        font-size: 32px;
    }

    .desc {
        margin: 0 10px;
        font-size: 18px;
    }

    .founder-section img {
        width: 450px;
        left: 200px;
    }

    .founder-section div {
        width: 730px;
        height: 475px;
        top: 220px;
        left: 560px;
    }

    .founder-section h3 {
        text-align: start;
    }

    .founder-section h3, 
    .founder-section p,
    .founder-section button {
        margin: 40px 20px;
    }

    .founder-section h3 {
        font-size: 56px;
    }

    .founder-section p {
        font-size: 18px;
        margin-right: 80px;
    }

    .founder-section button {
        margin-top: 40px;
    }

    footer {
        top: 800px;
    }
}